<!DOCTYPE html>
<html lang="en">

<!-- Head -->
<%- include("../partials/head") %>

    <body>

        <!-- Header -->
        <%- include("../partials/header") %>

            <main>

                <div class="order-filter">

                    <div class="order">
                        <select class="ordenar">
                            <option>Ordenar</option>
                            <option>Mayor precio</option>
                            <option>Menor precio</option>
                        </select>
                        <span class="sort"><i class="fa-solid fa-sort "></i></span>
                    </div>


                    <div class="categories">
                        <h3>Producto:</h3>
                        <label><input type="checkbox" id="cbox1" value="first_checkbox"> PC</label>
                        <label><input type="checkbox" id="cbox1" value="first_checkbox"> Celulares</label>
                        <label><input type="checkbox" id="cbox1" value="first_checkbox"> Perifericos</label>
                    </div>
                </div>



                <div class="content">

                    <h4 class="">Nuevo</h4>
                    <div class="productList">
                        <% products.forEach(product=> { %>
                            <div class="product">
                                <div>
                                    <img class="img" src="./images/products/<%= product.imageMain %>" />
                                    <div class="text">
                                        <p class="name">
                                            <%= product.name %>
                                        </p>
                                        <p class="price">$<%= product.price %>
                                        </p>
                                        <p class="discount">%<%= product.discount %> OFF</p>
                                        <div class="options">
                                            <a class="ver-más" href="/products/<%= product.id %>">Ver más</a>
                                            <button type="submit" id="carrito">Agregar
                                                <span><i class="fa-solid fa-cart-shopping"></i></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% }) %>



                    </div>

                </div>
            </main>

            <!-- Footer -->
            <%- include("../partials/footer") %>

    </body>

</html>