<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<%- include("../partials/head") %>

    <body>
        <!-- Header -->
        <%- include("../partials/header") %>
            <!-- <main>
                <form class="form-crud" action="/products/?_method=PUT" method="POST" enctype="multipart/form-data">
                    <div class="crud-info">
                        <div>
                            <label for="name">Titulo</label>
                            <input class="searchInput" type="text" name="name" value= ""  >
                        </div>
                        <div>
                            <label for="name">Precio</label>
                            <input class="searchInput" type="text" name="name" value= ""  >
                        </div>
                        <div>
                            <label for="name">Descuentos</label>
                            <input class="searchInput" type="text" name="name" value= "0"  >
                        </div>
                        <div>
                            <label for="description">Descripcion del producto:</label>
                            <textarea class="searchInput" type="textarea" name="description">  </textarea>
                        </div>
                        <div>
                            <label for="image">Seleccionar imagen principal:</label>
                            <input class="searchInput" type="file" name="image">
                        </div>
                        <div>
                            <label for="image">Seleccionar imagen Secundaria:</label>
                            <input class="searchInput" type="file" name="image">
                        </div>
                    </div>
                    <div>
                        <label for="category">Categoria Del Producto:</label>
                        <select name="category">
                            <option value="computer">Computadora</option>
                            <option value="screen">Pantalla</option>
                            <option value="phone">Celular</option>
                            <option value="audio">Audio</option>
                            <option value="other">Otro</option>
                        </select>
                    </div>
                    <div>
                        <button type="submit"> Aplicar cambios</button>
                    </div>
                </form>
                <form>
                    <button type="submit" action="/products/?_method=DELETE"  method="POST">Eliminar producto</button>
                </form>

            </main> -->

            <main>
                <div class="container">
                    <div class="title">Creacion del producto</div>
                    <div class="content">
                        <form action="/products/<%= product.id %>?_method=PUT"
                            method="POST" enctype="multipart/form-data">
                            <div class="product-details">
                                <div class="input-box">
                                    <span class="details">Nombre del
                                        Producto</span>
                                    <input type="text"
                                        value="<%= product.name %>" required>
                                </div>
                                <div class="input-box">
                                    <span class="details">Precio del
                                        producto</span>
                                    <input type="text"
                                        value="<%= product.price %>" required>
                                </div>
                                <div class="input-box">
                                    <span class="details">Aplicar
                                        descuento</span>
                                    <input type="text"
                                        placeholder="Aplicar Descuento"
                                        required>
                                </div>
                                <div class="input-box select-category">
                                    <span for="category">Categoria Del
                                        Producto</span>
                                    <select name="category">
                                        <option value="computer">Computadora
                                        </option>
                                        <option value="screen">Pantalla</option>
                                        <option value="phone">Celular</option>
                                        <option value="audio">Audio</option>
                                        <option value="other">Otro</option>
                                    </select>
                                </div>
                                <div class="input-box">
                                    <span class="details">Imagen
                                        principal</span>
                                    <input type="file"
                                        placeholder="Imagen Principal" required>
                                </div>
                                <div class="input-box">
                                    <span class="details">Imagen
                                        Secundaria</span>
                                    <input type="file"
                                        placeholder="Imagen Secundaria"
                                        required>
                                </div>
                            </div>
                            <div class="input-box text-description">
                                <label for="description">Descripcion del
                                    producto:</label>
                                <textarea class="searchInput" type="textarea"
                                    name="description" rows="5"
                                    cols="33"><%= product.description %></textarea>
                            </div>
                            <div class="button-crud-holder">
                                <button class="button-crud" type="submit">Crear
                                    Producto</button>
                            </div>
                        </form>
                        <form
                            action="/products/<%= product.id %>?_method=DELETE"
                            method="POST">
                            <div class="button-crud-holder-eliminar">
                                <button type="submit"
                                    class="button-crud-eliminar">Eliminar
                                    producto</button>
                            </div>
                        </form>
                    </div>
                </div>
            </main>
            <!-- Footer -->
            <%- include("../partials/footer") %>
    </body>

</html>