<!DOCTYPE html>
<html lang="en">

<!-- Head -->
<%- include("../partials/head") %>
   <script defer src="/js/login.js"></script>

   <body>

      <!-- Header -->
      <%- include("../partials/header") %>

         <main>
            <form class="container login-form" id="login-form" action="/user/login" method="post">
               <h5>INICIAR SESION</h5>

               <label for="email">Correo:</label>
               <input class="CampoTexto" type="email" name="email" id="email" placeholder="Ingresa tu correo">
               <% if (locals.errors && errors.email) { %>
                  <div class="errorLoginBack"><label>
                        <%= errors.email.msg %>
                     </label></div>
                  <% } %>
                     <div class="errorLogin" id="login-error-mail">Tienes que ingresar un mail válido</div>

                     <label for="contrasena">Contraseña</label>
                     <input class="CampoTexto" type="password" name="contrasena" id="password"
                        placeholder="Ingresa tu contraseña">
                     <% if (locals.errors && errors.contrasena) { %>
                        <div class="errorLoginBack"><label>
                              <%= errors.contrasena.msg %>
                           </label></div>
                        <% } %>
                           <div class="errorLogin" id="login-error-password">Tienes que escribir una contraseña</div>

                           <p>
                              <input type="checkbox" name="recordar" value="recordar">
                              <label class="login-remember" for="recordar">¿Quieres que te recordemos?</label>
                           </p>

                           <input class="Boton" type="submit" value="Ingresar">

                           <p class="Olvido">
                              <a href="#">¿Olvidaste tu contraseña?</a>
                           </p>

                           <p class="Registro">
                              <a href="register">¿Aun no tienes cuenta?</a>
                           </p>
            </form>
         </main>

         <!-- Footer -->
         <%- include("../partials/footer") %>

   </body>

</html>