<!DOCTYPE html>
<html lang="en">

<!-- Head -->
<%- include("../partials/head") %>

   <body>

      <!-- Header -->
      <%- include("../partials/header") %>

         <main class="profile-description">

            <img class="profile-image" src="/images/users/<%= user.picture %>" alt="Foto de perfil">
            
            <h2 class="profile-info">¡Hola <%= user.name %>!</h2>
            <h3 class="profile-info">Esta es la información de tu perfil:</h3>
            <p class="profile-info">Nombre: <%= `${user.name} ${user.last_name}` %> </p>
            <p class="profile-info">Correo electrónico: <%= user.mail %></p>

            <form method="get" action="/user/products">
               <button class="Boton admin-button">Administrar productos</button>
            </form>

            <form method="post" action="/user/profile">
               <button class="Boton logout-button">Cerrar Sesión</button>
            </form>

         </main>

         <!-- Footer -->
         <%- include("../partials/footer") %>

   </body>

</html>